@import "../../assets/styles/variables.scss";

.about {
  max-width: 900px;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  color: $text-color-secondary;

  &__content {
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: 22px;
    font-weight: 500;
  }

  a {
    color: $text-color-links;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    margin-right: 20px;

    p {
      font-size: 20px;
      margin-bottom: 22px;
    }
  }

  &__image-container {
    order: -1;
    display: flex;
    justify-content: center;

    img {
      max-width: 250px;
      margin-bottom: 30px;
    }
  }

  &__contact-info {
    margin-bottom: 28px;

    span {
      vertical-align: sub;
    }

    .logo-container {
      margin-right: 5px;
    }

    .logo {
      width: 24px;
    }

    .contact-element {
      font-size: 20px;
      margin-bottom: 12px;
    }
  }
}

.github-logo {
  filter: invert(1);
}

// styles for big mobile size (576px) and higher
@media all and (min-width: 36em) {
  .about {
    min-width: 500px;
    padding: 0 40px;
  }
}

// styles for tablet size (768px) and higher
@media all and (min-width: 48em) {
  .about {
    p {
      font-size: 24px;
    }

    h3 {
      font-size: 24px;
      font-weight: 500;
    }

    &__content {
      flex-direction: row;
    }

    &__image-container {
      order: 1;

      img {
        max-width: 300px;
        height: fit-content;
      }
    }

    &__contact-info {
      .contact-element {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }
}
